In [1]:
import vaex as vx
import gc
import os

In [2]:
PATH_DATA = 'O:/df-showdown-data/'
BASE_DATA = PATH_DATA + 'base_data.csv'

In [3]:
df_base = vx.open(BASE_DATA)
df_base = df_base[['Order ID','Date','Status','Amount','ship-service-level']]
df_base['Amount'] = df_base['Amount'].fillna(0.1)

In [4]:
# df_base[df_base['Order ID']=='408-9163411-1046704']['Amount']

In [5]:
df_base.sample(8)

  #  Order ID             Date      Status                          Amount  ship-service-level
  0  404-2409117-6801939  05-20-22  Shipped                         346     Expedited
  1  408-0336818-2998712  05-06-22  Shipped                        1108     Expedited
  2  405-2928828-3497149  05-06-22  Shipped                         759     Expedited
  3  403-0667089-7101115  06-05-22  Shipped - Delivered to Buyer    729     Standard
  4  407-4892173-6466748  05-20-22  Shipped                         529     Expedited
  5  408-4557401-8025150  04-28-22  Shipped                         318     Expedited
  6  407-3013059-7271539  04-25-22  Cancelled                       358.1   Standard
  7  402-8470856-8643515  05-18-22  Cancelled                       562.86  Standard

In [6]:
n_df = [int(i/0.129)+1 for i in (0.12,1,5,10,25,50,75,100,130,175)]
# n_df = [int(i/0.129)+1 for i in (50,75,100,130,175)]

k = 0
for n in n_df:
    print(n)
    list_df_temp = [df_base]*n
    df_temp = vx.concat(list_df_temp)
    print(df_temp.shape[0])
    df_temp.export(PATH_DATA+'data_{}.csv'.format(k),index=False)
    df_temp.export(PATH_DATA+'data_{}.parquet'.format(k))

    del list_df_temp
    del df_temp
    gc.collect()
    k+=1

1
128975
8
1031800
39
5030025
78
10060050
194
25021150
388
50042300
582
75063450
776
100084600
1008
130006800
1357
175019075