In [1]:
import vaex as vx
import gc
import os

In [2]:
PATH_DATA = 'O:/df-showdown-data/'
BASE_DATA = '../base_data.csv'

In [11]:
df_base = vx.open(BASE_DATA)
df_base = df_base[['Order ID','Date','Status','Amount','ship-service-level']]

In [14]:
print(df_base.sample(8))

  #  Order ID             Date      Status                          Amount  ship-service-level
  0  405-7447678-6283558  06-01-22  Shipped                            493  Expedited
  1  407-9112200-0837114  06-03-22  Shipped                           1299  Expedited
  2  403-0009876-8980362  05-26-22  Shipped - Delivered to Buyer       709  Standard
  3  408-9212773-0112340  06-17-22  Shipped                           1163  Expedited
  4  408-7179059-4859549  05-20-22  Shipped - Delivered to Buyer       382  Standard
  5  405-3932872-9833153  04-20-22  Shipped                            788  Expedited
  6  406-2042265-0425940  06-02-22  Shipped                            496  Expedited
  7  171-1620511-7033951  04-22-22  Shipped                            658  Expedited

In [19]:
# n_df = [int(i/0.129)+1 for i in (0.12,1,5,10,25,50,75,100,130,175)]
# n_df = [int(i/0.129)+1 for i in (1,)]

k = 1
for n in n_df:
    print(n)
    list_df_temp = [df_base]*n
    df_temp = vx.concat(list_df_temp)
    print(df_temp.shape[0])
    df_temp.export(PATH_DATA+'data_{}.csv'.format(k),index=False)
    df_temp.export(PATH_DATA+'data_{}.parquet'.format(k))

    del list_df_temp
    del df_temp
    gc.collect()
    k+=1

8
1031800