In [1]:
import vaex as vx
import gc
import os

In [2]:
PATH_DATA = '../../data-testing/'
BASE_DATA = PATH_DATA + 'base_data.csv'

In [3]:
df_base = vx.open(BASE_DATA)
df_base = df_base[['Order ID','Date','Status','Amount','ship-service-level']]
df_base['Amount'] = df_base['Amount'].fillna(0.1)

In [4]:
# df_base[df_base['Order ID']=='408-9163411-1046704']['Amount']

In [5]:
df_base.sample(8)

  #  Order ID             Date      Status                          Amount  ship-service-level
  0  407-5109101-5489948  05-02-22  Shipped                            399  Expedited
  1  403-2206763-8769959  04-28-22  Shipped                            521  Expedited
  2  404-3240439-8999561  06-07-22  Shipped                            496  Expedited
  3  171-6409075-6722709  05-19-22  Shipped - Returned to Seller       399  Standard
  4  408-1881585-8917959  06-17-22  Shipped                            635  Expedited
  5  407-6606419-8324316  06-01-22  Shipped - Delivered to Buyer       625  Standard
  6  408-2174671-7617136  06-05-22  Shipped                              0  Standard
  7  171-1142809-5672369  05-29-22  Shipped                            612  Expedited

In [ ]:
# n_df = [int(i/0.129)+1 for i in (0.12,1,5,10,25,50,75,100,130,175)]
n_df = [int(i/0.129)+1 for i in (175,)]

# n_df = [int(i/0.129)+1 for i in (50,75,100,130,175)]

k = 9
for n in n_df:
    print(n)
    list_df_temp = [df_base]*n
    df_temp = vx.concat(list_df_temp)
    print(df_temp.shape[0])
    df_temp.export(PATH_DATA+'data_{}.csv'.format(k),index=False)
    df_temp.export(PATH_DATA+'data_{}.parquet'.format(k))

    del list_df_temp
    del df_temp
    gc.collect()
    k+=1

1357
175019075